a:hover {
    color: aqua;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid whitesmoke;
}
th, td {
    padding: 15px;
    text-align: center;
}
td.homeTable {
    background-color: bisque;
}
.row {
    display: flex;
    gap: 10px; 
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}
footer {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#w-max {
    background-color: #b8e4ba;
    padding: 1em 0;
    text-align: center;
}
form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label, input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
textarea {
    height: 150px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    float: left;
}
button[type="reset"] {
    background-color: #f44336;
}
button[type="reset"], button[type="submit"] {
    float: right;
}
button:active {
    background-color: #45a049;
}

table.portfolio {
    background-color: aquamarine;
    color: violet;
}

.qcontainer {
    width: 50%;
    margin: 0 auto;
}
.question {
    margin-bottom: 20px;
}
.question h3 {
    margin-bottom: 10px;
}
.result {
    margin-top: 20px;
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
